<!--
<script type="text/ng-template" id="categoriasRepeat.html">
    <div class="floatleft">
        <ol ui-sortable="sortableOptions" ng-model="categoria" class="list">
            <li ng-repeat="subcategoria in categoria" class="item">
                {{subcategoria.text}}
                <div ng-switch on="subcategoria.categoria.length &gt; 0">
                    <div ng-switch-when="true">
                        <div ng-init="categoria = subcategoria.categoria;" ng-include="'categoriasRepeat.html'"></div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</script>



<div ng-controller="categoriaController" class="container">
    <h2>Categorias</h2>

    &lt;!&ndash;
        <div ng-include="'categoriasRepeat.html'" ng-init="categoria = categorias;"></div>

        <div class="floatleft" style="margin-left: 20px;">
            <ul class="list logList">
                <li ng-repeat="entry in sortingLog track by $index" class="logItem">
                    {{entry}}
                </li>
            </ul>
        </div>
    &ndash;&gt;

    <div class="clear"></div>

</div>
-->
<div ng-controller="categoriaController">
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="categoria in categorias">
            <a href="">{{categoria.text}}</a>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="subcategoria in categoria.categoria">
                    <a href="">{{subcategoria.text}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>