<!-- Category templates -->
<script type="text/ng-template" id="categoriasRepeat.html">
    <div ui-tree-handle>
        <a class="btn btn-primary btn-xs" ng-if="category.category && category.category.length > 0"
           data-nodrag="" ng-click="toggleCategory(this)">
            <i class="fa" ng-class="{
            'fa-chevron-right': !collapsed,
            'fa-chevron-down': collapsed
        }"></i></a>
        {{category.name}}

        <a class="pull-right btn btn-default btn-xs" data-nodrag="" ng-click="removeCategory(this)"
           data-toggle="tooltip" title="Remover">
            <i class="fa fa-minus" />
        </a>

        <a class="pull-right btn btn-default btn-xs" data-nodrag="" ng-click="editCategory(this)"
           data-toggle="tooltip" title="Editar">
            <i class="fa fa-pencil" />
        </a>

        <a class="pull-right btn btn-default btn-xs" data-nodrag="" ng-click="addSubCategory(this)"
           data-toggle="tooltip" title="Adicionar">
            <i class="fa fa-plus" />
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="category.category" ng-class="{hidden: collapsed}">
        <li ng-repeat="category in category.category" ui-tree-node ng-include="'categoriasRepeat.html'">
        </li>
    </ol>
</script>

<!-- Modal Template -->
<script type="text/ng-template" id="categoryModal.html">
    <form ng-submit="ok()">
        <div class="modal-header">
            <h4 class="modal-title">Nova Categoria</h4>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control input-sm" ng-model="newCategory" placeholder="Nome" focus-me="true">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">OK</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>

<div ng-controller="LoginCtrl">
    <button class="btn btn-default" type="button" ng-click="signOut()">Sign Out</button>
</div>

<div ng-controller="CategoryCtrl">
    <h2>Categorias</h2>
    <div class="col-md-6">
        <div class="row">
            <div class="angular-ui-tree-handle contas-ui-tree-head">
                <button class="btn btn-primary btn-sm" type="button" ng-click="addCategory(categories)">
                    <i class="fa fa-plus" /> Nova Categoria
                </button>
            </div>
            <div ui-tree ng-if="categories.length > 0">
                <ol ui-tree-nodes="" ng-model="categories" id="tree-root">
                    <li ng-repeat="category in categories" ui-tree-node ng-include="'categoriasRepeat.html'"></li>
                </ol>
            </div>
        </div>
    </div>
</div>